.about_container {
    background-image: url('../../assets/images/aboutbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0 ;
}

.headerWidth{
    max-width: 682px;
}

.about_container h3 {
    color: var(--initialColor);
    font-family: 'ClashDisplay-Semibold';
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.about_container .pageLink a {
    color: var(--initialColor);
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
}
