header,
footer {
    background: var(--primaryColor);
}

/* Design Text and SectionHeader Class Start */
.sectionHeader {
    color: var(--neutralColor);
    font-family: 'ClashDisplay-Semibold';
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .sectionHeader {
        font-size: 24px;
    }
}


.headerHilight {
    color: var(--primaryColor) !important;
}

.headerHilightSec {
    color: var(--secondaryColor) !important;
}

.darkFont {
    color: var(--buttonColor);
    font-size: 18px;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .darkFont {
        font-size: 16px;
    }
}

.txt_curve {
    position: relative;
    color: var(--primaryColor);
}

.txt_curve::after {
    position: absolute;
    content: "";
    bottom: -24px;
    left: -8px;
    height: 57%;
    width: 110%;
    border: 5px;
    border-style: solid;
    border-color: var(--secondaryColor) transparent transparent transparent;
    border-radius: 45% 45% 0 0;
}

@media only screen and (max-width:768px) {
    .txt_curve::after {
        height: 70%;
        position: absolute;
        content: "";
        bottom: -17px;
        left: -8px;
        width: 110%;
        border: 3px;
        border-style: solid;
        border-color: var(--secondaryColor) transparent transparent transparent;
        border-radius: 45% 45% 0 0;
    }
}

/* Design Text and SectionHeader Class End */


/* Card Inner desCription  Start*/
.cardPara {
    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.6s ease-in-out;
}

@media only screen and (max-width:768px) {
    .cardPara {
        font-size: 16px;
    }
}

.commonPara {
    color: var(--textColor);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .commonPara {
        font-size: 16px;
    }
}

/* Card Inner desCription End */


/* Header Start */

.navbar {
    padding-top: 17px;
    padding-bottom: 17px;
}


.navbar-nav {
    gap: 46px;
}

.nav-link {
    color: var(--initialColor);
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}

.dropdown-toggle::after {
    display: inline-block;
    /* margin-left: 0.255em; */
    margin-left: 0;
    vertical-align: 0.2em;
    content: "";
    height: 15px;
    width: 20px;
    border-top: 0 !important;
    border-right: none !important;
    border-bottom: 0 !important;
    border-left: none !important;
    background-image: url("../../assets/home1/direction-down2.png") !important;
}

.nav-link:hover {
    color: var(--otherColor2);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--otherColor2);
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--initialColor);
    background-color: var(--primaryColor) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.authBtn a {
    padding: 10px;
    border-radius: 11px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    border: 1px solid transparent;
}

.authBtn a:first-child {
    background-color: transparent;
    color: var(--initialColor);
    transition: 0.6s ease-in-out;
}

.authBtn a:last-child {
    background: var(--secondaryColor);
    color: var(--neutralColor);
}

.authBtn a:first-child:hover {
    border: 1px solid var(--secondaryColor);
}

.authBtn a:last-child:hover {
    background: transparent !important;
    color: var(--initialColor) !important;
    border: 1px solid var(--secondaryColor);
}

/* Responsive Header Start */

@media only screen and (max-width:1170px) {
    .navbar-nav {
        gap: 25px;
    }
}

@media only screen and (max-width:1024px) {
    .navbar-nav {
        gap: 10px;
    }
}

@media only screen and (max-width:991px) {
    .authBtn {
        flex-direction: column;
        gap: 25px;
    }

    .authBtn a {
        width: max-content;
    }

    .navbar-collapse {
        padding-bottom: 15px;
    }

    .navbar-nav {
        gap: 25px;
        padding-bottom: 25px;
    }
}

@media only screen and (max-width:330px) {
    .navbar-brand {
        margin-right: 0 !important;
    }

    .logoImg {
        max-width: 200px;
    }
}

/* Responsive Header End */
/* Header End */


/* Footer Start */

footer {
    padding-top: 95px;
    padding-bottom: 50px;
}

footer p,
footer ul li a {
    color: var(--initialColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.6s ease-in-out;
    display: block;
    margin-bottom: 12px;
    transition: 0.5s ease-in-out;
}

footer ul li a:hover {
    color: var(--secondaryColor);
}

footer span,
footer ul li:first-child {
    color: var(--initialColor);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.socialLink {
    gap: 20px;
    margin-bottom: 22px;
}

.socialLink img {
    transition: 0.6s ease-in-out;
}

.socialLink img:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.subscribe {
    padding: 14px 24px;
    border-radius: 100px;
    border: 1px solid var(--otherColor);
}

footer input {
    color: var(--initialColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background-image: url('../../assets//home1/user.png');
    background-repeat: no-repeat;
    background-position: left 1% center;
    padding-left: 30px;
}


footer input::placeholder {
    color: var(--initialColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%
}

footer button {
    padding: 14px 26px;
    color: var(--buttonColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    border: 1px solid transparent;
    border-radius: 100px;
    background: var(--secondaryColor);
    transition: 0.6s ease-in-out;
}

footer button:hover {
    background: transparent !important;
    border: 1px solid var(--secondaryColor);
    color: var(--initialColor);
}

footer hr {
    color: rgba(255, 255, 255, 0.32);
    margin-top: 0;
    margin-bottom: 60px;
}


/* Footer Responsive Start */
@media only screen and (max-width:1335px) {
    .footerForm {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:1024px) {
    .footerForm {
        flex-direction: column;
    }

    .footerEnd {
        padding-left: 30px;
    }

    .footerForm button {
        width: max-content;
    }
}

@media only screen and (max-width:991px) {
    .subscribe {
        width: max-content;
    }

    .footerForm {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:768px) {

    .footerEnd {
        padding-left: 0 !important;
        margin-bottom: 15px;
    }

    .footerForm button {
        width: max-content;
    }
}

@media only screen and (max-width:600px) {
    footer {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    footer p,
    footer ul li a,
    footer button,
    footer input::placeholder {
        font-size: 16px !important;
    }

    .subscribe {
        padding: 3px 3px 3px 12px;
    }

    footer input {
        width: 191px;
    }
}

@media only screen and (max-width: 350px) {
    footer input {
        width: 151px;
    }
}

/* Footer Responsive End */
/* Footer End */

/* Hero Start */
.heroBg {
    background-image: url("../../assets/home1/bannerBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 880px;
    padding-top: 60px;
}

.banner {
    margin-top: -40%;
    position: relative;
}

h1 {
    /* color: var(--initialColor); */
    font-family: 'ClashDisplay-Semibold';
    font-size: 68px;
    font-weight: 600;
    line-height: 150%;
}

h1 span {
    color: var(--secondaryColor);
    position: relative;
    display: inline-block;
}

h1 span::before {
    content: "";
    position: absolute;
    width: 86%;
    height: 7px;
    background-color: var(--secondaryColor);
    bottom: 18%;
    left: 3px;
}

h1 span img {
    position: absolute;
}

.heroBg p {
    color: var(--initialColor);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

/* Circle Animation Start */

.circlePosition {
    position: absolute;
    right: 10%;
    top: -6%;
    max-width: 144px;
    max-height: 144px;
}

.circleTxt {
    position: relative;
    background: var(--secondaryColor);
    border-radius: 50%;
    display: inline-block;
    z-index: 9999;
    animation: rotating 12s linear infinite;
}

/* .breadcrumb-item+.breadcrumb-item::before {
    content: url('/images/rightdirection1.png');
    float: unset !important;
} */

@keyframes rotating {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.bounnceArrow {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 1s infinite;
    z-index: 99999;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-40%, -40%);
    }
}

/* Circle Animation End */

/* Hero Responsive Start */

@media only screen and (max-width:1024px) {
    h1 {
        font-size: 45px;
    }

    .heroBg {
        height: 710px;
    }

    .banner {
        margin-top: -40%;
    }

    .circlePosition {
        top: -9%;
    }
}

@media only screen and (max-width:991px) {
    .heroBg {
        height: 690px;
    }

    .banner {
        margin-top: -43%;
    }
}

@media only screen and (max-width:768px) {
    .heroBg {
        height: 630px;
        padding-top: 20px;
    }

    h1 span img {
        height: 21px;
        width: 21px;
    }

    h1 span::before {
        height: 5px;
        bottom: 13%;
    }
}

@media only screen and (max-width:600px) {
    h1 {
        font-size: 29px;
    }

    .heroBg p {
        font-size: 16px;
    }

    .heroBg {
        height: 420px;
    }

    .banner {
        margin-top: -42%;
    }
}

@media only screen and (max-width:425px) {
    .heroBg {
        height: 375px;
    }

    .circlePosition {
        top: -11% !important;
    }
}

@media only screen and (max-width:375px) {


    .circlePosition {
        top: -18% !important;
    }
}

/* Hero Responsive End */
/* Hero End */


/* Get started with us Start */
.stayBtn {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 13px;
    background: var(--buttonColor);
    color: var(--initialColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    transition: 0.6s ease-in-out;
}

.stayBtn:hover {
    background: var(--primaryColor);
}

.getStartedInner {
    padding: 45px 20px;
    border-radius: 11px;
    background: var(--otherColor2);
    transition: 0.6s ease-in-out;
}

.getStartedInner:hover {
    background: var(--primaryColor);
}

.getStartedInner span {
    color: var(--neutralColor);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    transition: 0.6s ease-in-out;
}


.getStatedImg {
    padding: 20px;
    border-radius: 50%;
    background: var(--initialColor);
    transition: 0.6s ease-in-out;
}

.getStartedInner:hover .getStatedImg {
    background: var(--secondaryColor);
}

.getStartedInner:hover.getStartedInner span,
.getStartedInner:hover.getStartedInner p {
    color: var(--initialColor);
}

.getStatedImg img {
    max-height: 30px;
    max-width: 30px;
}



/* Get Started Responsive Start */

@media only screen and (max-width:768px) {
    .stayBtn {
        font-size: 12px;
    }

    .getStartedInner span {
        font-size: 20px;
    }

    .getStatedImg {
        padding: 12px;
    }
}

/* Get Started Responsive End */
/* Get started with us End */

/* Our approach Start */

.ourApproch {
    background-image: url("../../assets/home1/ourApprochBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 99px 0;
}

.ourApproch span {
    position: relative;
    text-align: center;
    display: block;
    color: var(--initialColor);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 20px;
}

.faq_title span {
    position: relative;
    text-align: center;
    display: block;
    color: var(--buttonColor);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 20px;
}

.ourApproch span::before {
    position: absolute;
    content: url('../../assets/home1/ourApproch.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .faq_title span::before {
    position: absolute;
    content: url('/images/faq.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

































.ourApproch p {
    color: var(--initialColor);
    text-align: center;
    font-family: 'ClashDisplay-Semibold';
    font-size: 50px;
    font-weight: 600;
    line-height: 150%;
}

.approchBtn {
    padding: 15px 35px;
    border: 1px solid var(--secondaryColor);
    border-radius: 13px;
    background: var(--secondaryColor);
    color: var(--neutralColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 30px;
    display: inline-block;
    transition: 0.6s ease-in-out;
}

.approchBtn:hover {
    background: transparent;
    color: var(--initialColor);
}



/* Our approach Responsive Start */

@media only screen and (max-width:768px) {

    .ourApproch {
        padding: 24px 0;
    }

    .ourApproch p {
        font-size: 17px;
    }

    .ourApproch span {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .ourApproch span::before {
        content: url('../assets/home1/ourApprochMobile.png');
    }

    .approchBtn {
        margin-top: 18px;
        font-size: 14px;
    }
}

/* Our approach Responsive End */
/* Our approach End */


/* Best Service Start */

.bestServiceImg {
    border-radius: 24px;
    background: url('../assets/home1/bestServiceBg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 32px 50px 32px;
}

.card_mb {
    margin-bottom: 120px;
}

.profileImg {
    padding-left: 15px;
}

@media only screen and (max-width:768) {
    .card_mb {
        margin-bottom: 45px;
    }

}

.profileImg img {
    max-width: 68px;
    max-height: 68px;
    border-radius: 50%;
    margin-left: -15px;
}

/* Video Section Start */

.videoInner {
    border-radius: 24px;
    position: relative;
}

.txtPosition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.modalIndex {
    z-index: 9999;
}

.videoInner img {
    border-radius: 24px;
}

.playBtn {
    position: absolute;
    right: -11px;
    bottom: -6px;
    transition: 0.6s ease-in-out;
}

.playBtn:hover {
    animation: rotating 4s linear infinite;
}

.mBtn {
    width: 10px;
    z-index: 9999999;
    height: 10px;
    left: 99% !important;
    top: -1%;
    padding: 5px !important;
}


.btn:first-child:active {
    border: none;
}

.txt_curve.bestTxt {
    max-width: 300px;
    display: inline-block;
}


@media only screen and (max-width:768px) {
    .mBtn {
        left: 97% !important;
        top: -3%;
    }
}

/* Video Section End */
/* Best Service End */


/* Our Service Start */
.customGap {
    gap: 27px;
}

.allService {
    color: var(--textColor);
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    padding: 21px 24px;
    border: 1px solid var(--OtherColor4);
    border-radius: 21px;
    transition: 0.6s ease-in-out;
}

.allService span {
    font-size: 36px;
    font-weight: 600;
    color: var(--neutralColor);
    display: inline-block;
    transition: 0.6s ease-in-out;
}

.allService:hover {
    background: var(--primaryColor);
    color: var(--initialColor);
    font-weight: 600;
}

.allService:hover span {
    color: var(--secondaryColor);
}

.allService span svg path {
    transition: 0.9s ease-in-out;
}

.allService:hover span svg path {
    stroke: var(--secondaryColor);
}

.serviceImg,
.serviceImg img {
    border-radius: 21px;
}

.serviceBg {
    border-radius: 24px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 32px;
}

.howWorkBg {
    background: url('../assets/home1/bestServiceBg1.png');
}

.meetExpertBg {
    background: url('../assets/home1/meetExpertBg.png');
}

.howWorkBg>p {
    margin-bottom: 68px;
}

.serviceTxt {
    color: var(--initialColor);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
}

.arrowPosition {
    position: relative;
    z-index: 1;
}

.goArrow {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: bounce2 1s infinite;
    z-index: 99999;
}

@keyframes bounce2 {

    0%,
    100% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-40%);
    }
}

/* Our Service Responsive Start*/

@media only screen and (max-width:1024px) {


    .allService span,
    .allService:hover span {
        font-size: 28px;
    }

    .allService,
    .allService:hover {
        font-size: 18px;
        padding: 11px 14px;
    }
}

@media only screen and (max-width:600px) {
    .customGap {
        gap: 18px;
    }
}

/* Our Service Responsive End */

/* Our Service End */


/* Our Pricing Start */

.billed_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.pricing_card {
    border-radius: 24px;
    border: 1px solid var(--OtherColor4);
    background: var(--initialColor);
    box-shadow: 0px 2px 12px 0px var(--boxShadowColor);
    padding: 50px 70px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.pricing_card:hover {
    background: var(--primaryColor);
}

@media only screen and (max-width:768px) {
    .pricing_card {
        padding: 50px 24px;
    }
}


.toggle_desing {
    width: 80px !important;
    height: 40px !important;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.form-check-input {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.p_card_head {
    gap: 18px;
}

.pricing_text p:last-child {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}


.price {
    color: var(--buttonColor);
    font-family: 'ClashDisplay-Semibold';
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}

.price span {
    color: var(--textColor);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.pricing_btn {
    width: 100%;
    padding: 17px 0px;
    border-radius: 13px;
    background: var(--primaryColor);
    margin-top: 55px;
    color: var(--initialColor);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.pricing_card:hover .pricing_btn {
    background-color: var(--initialColor);
    color: var(--primaryColor);
}


.checkOpacity {
    display: block;
    transition: 0.6s ease-in-out;
}

.checkOpacityHover {
    display: none;
    transition: 0.6s ease-in-out;
}

.pricing_card:hover .checkOpacityHover {
    display: block;
}

.pricing_card:hover .checkOpacity {
    display: none;
}

.pricing_card p,
.pricing_card span {
    transition: 0.6s ease-in-out;
}

.pricing_card:hover p,
.pricing_card:hover span {
    color: var(--initialColor) !important;
}

.fs_24 {
    color: var(--buttonColor);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .fs_24 {
        font-size: 16px;
    }

    .toggle_desing {
        width: 57px !important;
        height: 31px !important;
    }
}

/* Our Pricing End */


/* Slider Start */
.slider_img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

.slider_img::after {
    content: '';
    position: absolute;
    top: 145px;
    left: 0;
    background: #F7F6FF;
    width: 470px;
    height: 506px;
    z-index: -9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.client_img {
    position: absolute;
    top: -13%;
    right: 0;
}

.slider_text {
    color: var(--hompages-1-neutral-color, #393939);
    font-family: Work Sans;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 53px !important;
}

.owl-carousel {
    /* height: 506px; */
    display: flex;
    justify-content: end;
    align-items: end;
}

.owl-controlls {
    text-align: center;
}

.owl-controlls .owl-page,
.owl-controlls .owl-buttons {
    cursor: pointer;
}

.owl-controlls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    opacity: 0.5;
}



.owl-nav button i {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid #C9C9C9;
    border-radius: 50%;
    color: #C9C9C9;

}

.owl-nav button i:hover {
    border: 1px solid var(--primaryColor) !important;
    color: var(--primaryColor)
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: white !important;
    color: var(--primaryColor) !important;
}

.owl-theme .owl-nav {
    position: absolute;
    left: 46%;
    bottom: 16%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent !important;
}


.owl-nav button:hover .owl-nav button i {
    border: 1px solid var(--primaryColor) !important;
}

.p_68 {
    padding: 68px 5px 68px 68px;
}

.shadowField {
    position: relative;
    height: 800px;
}

.shadowField::after {
    content: "";
    width: 100%;
    height: 599px;
    border-radius: 599px;
    opacity: 0.07;
    filter: blur(150px);
    position: absolute;
    bottom: 0;
    border-radius: 599px;
    background-color: var(--primaryColor);
}



.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block !important;
}

.slider_wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    height: fit-content;
}


.mt_100 {
    margin-top: 100px;
}

.item_wrapper {
    position: relative;
    padding: 68px;
    background: var(--otherColor2);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 506px;
    margin-top: 140px;
}


@media (max-width: 992px) {
    .slider_text {
        margin-bottom: 18px !important;

    }

    .shadowField {
        margin-bottom: 121px;
    }

    .slider_wrapper {
        grid-template-columns: 1fr;
    }

    .items {
        text-align: center;
    }

    .item_wrapper {
        border-radius: 15px;
        height: 830px !important;
    }

    .client_content h3 {
        font-size: 20px;
        line-height: 0;
        margin-bottom: 28px !important;
    }

    .client_content p {
        font-size: 20px;
    }

    .slider_img {
        width: 50%;
        right: 50%;
        transform: translateX(50%);
    }

    .slider_img::after {
        background: transparent;
    }

    .owl-theme .owl-nav {
        bottom: 50% !important;
        margin-top: 24px !important;
    }
}

@media(max-width: 768px) {
    .owl-theme .owl-nav {
        bottom: 43% !important;
        left: 43%;
    }

    .client_content p {
        font-size: 16px;
    }

    .item_wrapper {
        padding: 32px 17px 0px 17px !important;
        margin-top: 0 !important;
    }


}

@media (max-width: 450px) {
    .owl-theme .owl-nav {
        bottom: 38% !important;
        left: 36%;
    }

    .item_wrapper {
        height: 655px !important;
    }
}

@media (min-width:769px)and (max-width: 1024px) {
    .owl-theme .owl-nav {
        bottom: 1% !important;
        left: 36%;
    }

    .slider_text {
        font-size: 23px;
        margin-bottom: 20px !important;
    }
}

@media (min-width: 375px) and (max-width: 450px) {
    .owl-theme .owl-nav {
        bottom: 41% !important;
        left: 37%;
    }

    .item_wrapper {
        height: 590px !important;
    }

    .shadowField {
        margin-bottom: 0 !important;
        height: 675px;
    }
}





/* best service provider section */

/* Slider End */


/* Scroll bar css Strat */
::-webkit-scrollbar {
    width: 0px;
}

/*   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: var(--otherColor2);
  }
   
  ::-webkit-scrollbar-thumb {
    background: #6e69a5; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #534f7e; 
  }  */
/* Scroll bar css End */