.portfolio_btn {
    border-radius: 8px;
    background: var(--otherColor2);
    padding: 10px 10px;
    width: 196px;
    height: 57px;
    color: var(--buttonColor);
    white-space: nowrap;
    display: block;
    transition: 0.6s ease-in-out;
}

.portfolio_btn_active,
.portfolio_btn:hover {
    background: var(--primaryColor) !important;
    color: var(--initialColor) !important;
}

.all_portfolio_btn{
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.pro_btn{
    max-width: max-content;
}

.fintech, .fintech img {
    border-radius: 21px;
    transition: 0.6s ease-in-out;
}

.fintech img:hover{
    transform: scale(1.02);
}


.portfolioBox:hover .fitgoarrow{
    transform: translateY(-10%);
}


@media only screen and (max-width:600px) {
    .fitgoarrow {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width:768px) {
    .portfolio_btn {
        width: 165px !important;
        height: 40px !important;
    }
}