@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

:root {
    --primaryColor: #5D51F2;
    --secondaryColor: #FFDC40;
    --neutralColor: #393939;
    --initialColor: #FFF;
    --textColor: #6A6A6A;
    --otherColor: #C9C9C9;
    --otherColor2: #F7F6FF;
    --OtherColor4: rgba(238, 238, 238, 0.93);
    --buttonColor: #1A1A1A;
    --boxShadowColor: rgba(20, 20, 43, 0.08);

    --play: running;
    --direction: normal;
    --duration: 43.977777777777774s;
    --delay: 0s;
    --iteration-count: infinite;
    --min-width: 100%;
    --transform: none;
    --width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('./Fonts/ClashDisplay-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('./Fonts/ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('./Fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('./Fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('./Fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('./Fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none;
}

:focus {
    outline: none;
}


.container {
    max-width: 1420px;
}

button {
    border: none;
    background: none;
}

input {
    background: transparent;
    border: none;
}

.all_mb {
    margin-bottom: 140px;
}

.pt_150 {
    padding-top: 140px;
}


.mt_150 {
    margin-top: 140px;

}

@media only screen and (max-width:768px) {
    .all_mb {
        margin-bottom: 50px;
    }

    .pt_150 {
        padding-top: 50px;
    }

    .mt_150 {
        margin-top: 50px !important;
    }
}

.inner_mb {
    margin-bottom: 45px;
}

@media only screen and (max-width:768px) {
    .inner_mb {
        margin-bottom: 25px;
    }
}

.txtOpacity {
    opacity: 0.9;
}

.initialColor {
    color: var(--initialColor) !important;
}


.stayBtn {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 13px;
    background: var(--buttonColor);
    color: var(--initialColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    transition: 0.6s ease-in-out;
}

.stayBtn:hover {
    background: var(--primaryColor);
}

@media only screen and (max-width:768px) {
    .stayBtn {
        font-size: 12px;
    }
}



.headerHilight {
    color: var(--primaryColor) !important;
}

.headerHilightSec {
    color: var(--secondaryColor) !important;
}

.darkFont {
    color: var(--buttonColor);
    font-size: 18px;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .darkFont {
        font-size: 16px;
    }
}

.txt_curve {
    position: relative;
    color: var(--primaryColor);
}

.txt_curve::after {
    position: absolute;
    content: "";
    bottom: -24px;
    left: -8px;
    height: 57%;
    width: 110%;
    border: 5px;
    border-style: solid;
    border-color: var(--secondaryColor) transparent transparent transparent;
    border-radius: 45% 45% 0 0;
}

@media only screen and (max-width:768px) {
    .txt_curve::after {
        height: 70%;
        position: absolute;
        content: "";
        bottom: -17px;
        left: -8px;
        width: 110%;
        border: 3px;
        border-style: solid;
        border-color: var(--secondaryColor) transparent transparent transparent;
        border-radius: 45% 45% 0 0;
    }
}

.cardPara {
    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.6s ease-in-out;
}

@media only screen and (max-width:768px) {
    .cardPara {
        font-size: 16px;
    }
}

.commonPara {
    color: var(--textColor);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .commonPara {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 0px;
}



.fs_16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%
}

.fs_18 {
    font-size: 18px;
    line-height: 150%;
}

.fs_20 {
    font-size: 20px;
    line-height: 150%;
    
}

.fs_24 {
    font-size: 24px;
    line-height: 150%;
}

.fs_28 {
    font-size: 28px;
    line-height: 150%;
}

.fs_36 {
    font-size: 36px;
    line-height: 150%;
}

.fs_32 {
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
}

.fs_48 {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
}


.fs_68 {
    font-family: 'ClashDisplay-Semibold';
    font-size: 68px;
    font-weight: 600;
    line-height: 150%;
}

@media only screen and (max-width:768px) {
    .fs_68 {
        font-size: 29px;
    }

    .fs_48 {
        font-size: 24px !important;
    }

    .fs_20,
    .fs_24,
    .fs_18 {
        font-size: 16px;
    }

    .fs_36 {
        font-size: 32px;
    }

    .fs_32 {
        font-size: 20px;
    }
}


.fw_400 {
    font-weight: 400 !important;
}

.fw_500 {
    font-weight: 500 !important;
}

.fw_600 {
    font-weight: 600 !important;
}

.fw_700 {
    font-weight: 700 !important;
}

.fw_800 {
    font-weight: 800 !important;
}

/* color */
.white {
    color: var(--initialColor);
}

.white2 {
    color: var(--otherColor2) !important
}


.black {
    color: var(--neutralColor);
}

.grey {
    color: var(--textColor);
}

.title {
    color: var(--buttonColor);
}

.para {
    color: var(--textColor);
}

.blue {
    color: var(--primaryColor);
}

.yellow {
    color: var(--secondaryColor);
}
